{%extends 'base.html' %}

{% block title %}Pealeht{% endblock title %}


{% block body %}

<div class="min-h-screen bg-gray-900 flex items-center justify-center pb-10">
    <div class="bg-gray-800 p-8 rounded-xl shadow-lg text-center space-y-6">
        

        <h1 class="text-5xl font-extrabold dark:text-white">Klas Korporatsioon</h1>
        <p class="ms-2 font-semibold text-gray-500 dark:text-gray-400">Innovatsioon tulevikuks, kujundades homset.</p>
<p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Klas Korporatsioon on ülemaailmne liider kõrgtehnoloogia, farmaatsia ja bioinseneriteaduse valdkonnas. Oma tipptasemel uurimiskeskuste ja vankumatu pühendumusega arengule muudab Klas Korporatsioon tööstusharusid ja seab uuesti paika võimalikkuse piirid.</p>

        <p class="max-w-2xl text-lg font-medium leading-relaxed text-gray-400 mx-auto">
            Klas Korporatsiooni missioon on parandada inimeste elu läbi murranguliste avastuste, viies maailma helgema ja jätkusuutlikuma tuleviku suunas.
        </p>
        <p class="max-w-2xl text-lg font-medium leading-relaxed text-gray-400 mx-auto pb-">
            Kujundame maailma üks läbimurre korraga.
        </p>
    </div>
</div>


{% endblock body %}