{%extends 'base.html' %}

{% block title %}Pealeht{% endblock title %}


{% block body %}

<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h1 class="card-title mb-0 text-center">Lorem Ipsum</h1>
        </div>
        <div class="card-body">
            
            <blockquote class="blockquote text-center mb-5">
                <p class="mb-0"><em>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</em></p>
                <footer class="blockquote-footer text-muted mt-2">Anonymous</footer>
            </blockquote>

            <p class="text-justify mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae nisi nec turpis tincidunt hendrerit. Nam in eros at tellus aliquet maximus in quis orci. Maecenas ante enim, pellentesque eget arcu ut, venenatis gravida nibh. Morbi elementum pretium nisi in pellentesque. In venenatis ac nisi et finibus. Praesent tellus nisl, pretium at sapien eget, sodales aliquam urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris non risus nec quam egestas dignissim sed id dui. Fusce tempor non tellus non pellentesque. Curabitur ipsum ante, placerat commodo fermentum sit amet, malesuada gravida lectus. Pellentesque suscipit neque ipsum, ac tincidunt elit consectetur quis.</p>

            <p class="text-justify mb-4">Proin vehicula ornare turpis, ut mattis magna ultrices et. Morbi tempus efficitur nunc et lobortis. Nunc condimentum viverra felis ac ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur at enim ac purus malesuada varius vitae ac nulla. Etiam vestibulum nunc vitae nunc luctus commodo. Integer cursus iaculis commodo. Mauris a fringilla lacus. Mauris quis pellentesque dui, sed sodales dolor. Ut odio mauris, eleifend laoreet aliquam non, posuere eget est. Donec consectetur magna vel tempor euismod. Morbi vel suscipit libero, vitae rhoncus leo.</p>

            <p class="text-justify mb-4">Phasellus mattis justo non nisl efficitur, a varius arcu laoreet. Nulla at risus id neque volutpat interdum rutrum vitae urna. Phasellus at accumsan felis. Nullam auctor nisl faucibus mollis egestas. Morbi viverra orci efficitur feugiat gravida. Mauris quis tellus vitae sem laoreet porttitor quis sed ex. Aliquam mollis et lectus nec porta.</p>

            <p class="text-justify mb-4">Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus at augue quis est placerat placerat. Nulla eleifend fermentum orci volutpat interdum. Curabitur eget auctor diam, ut fringilla felis. Fusce pellentesque leo a enim feugiat, a volutpat est finibus. Cras sit amet nisl laoreet, tempus ante eget, lacinia augue. Proin ut ligula sit amet dui dapibus consectetur eget sit amet enim. In a laoreet justo. Cras a vestibulum tortor. Vivamus sed ex vel sem varius iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin mi ligula, hendrerit a sapien sed, venenatis efficitur turpis. Donec gravida ligula sed lorem porta, eu tempus orci finibus. Aliquam a hendrerit justo. Sed ante justo, congue non arcu at, gravida egestas ex. Mauris dictum suscipit maximus.</p>

            <p class="text-justify mb-0">Praesent mi leo, interdum sit amet leo eget, maximus convallis erat. Donec congue eros quam, in fringilla ante ornare non. Praesent in purus a mi feugiat bibendum. Proin pretium quis ante ut dictum. Proin volutpat fringilla orci at facilisis. Morbi eget metus at libero porta dapibus. Ut pretium erat non interdum eleifend. Phasellus vel facilisis ante. Suspendisse at sem venenatis, gravida sapien quis, tincidunt sem. In hac habitasse platea dictumst. Fusce arcu ligula, efficitur eu fringilla ut, semper vitae felis. Cras a faucibus est. Nunc dignissim ipsum et rhoncus finibus. Nunc ac quam convallis, tempus risus eget, lobortis dolor.</p>
        </div>
    </div>
</div>
{% endblock body %}