{%extends 'base.html'%}

{% block title %}{{hero.name}}{% endblock title %}

{% block body %}








<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{{hero.name}}</h2>
            <ul>
                <li><b>Kodanikunimi:</b> {{hero.civillian_name}}</li>
                <li><b>Vanus:</b> {{hero.age}}</li>
                <li><b>Asukoht:</b> {{hero.location}}</li>

            </ul>
            <p class="mb-4">{{hero.description|linebreaks}}</p>
            
        </div>
        <div class="grid ">
            <img class="w-full rounded-lg" src="{{hero.image.url}}" alt="{{hero.name}}">
            
        </div>
    </div>
</section>





            


{% endblock body %}